@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --Bright-Red: hsl(12, 88%, 59%);
  --Bright-Red-scrl: hsl(12, 100%, 68%);
  --Bright-Red-op: hsla(12, 88%, 59%, 0.658);
  --Dark-Blue: hsl(228, 39%, 23%);
  --Dark-Blue-op: hsla(228, 39%, 23%, 0.445);
  --Dark-Grayish-Blue: hsl(227, 12%, 61%);
  --Very-Dark-Blue: hsl(233, 12%, 13%);
  --Very-Pale-Red: #ffefeb;
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Light-Gray-op: hsla(0, 0%, 90%, 0.6);
  --Bright-green: hsl(110, 100%, 52%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
}
::-webkit-scrollbar {
  width: 1rem;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background-color: var(--Dark-Blue);
}
::-webkit-scrollbar-thumb {
  border-left: 0.2rem solid var(--Dark-Blue);
  border-right: 0.2rem solid var(--Dark-Blue);
  background-color: var(--Bright-Red);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--Bright-Red-scrl);
}
body {
  width: 100%;
  min-height: 100vh;
  font-size: 1rem;
}
img {
  max-width: 100%;
}
.wrapper {
  width: 100%;
  max-width: 1440px;
  background: url(./images/bg-tablet-pattern.svg);
  background-position: 125% -10%;
  background-repeat: no-repeat;
  background-size: inherit;
  margin: auto;
  position: relative;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.5rem 10rem 2.5rem;
  position: relative;
}
.logo {
  width: 146px;
  height: 24px;
}
.logo img {
  width: 100%;
  height: 100%;
}
.nav {
  display: block;
}
.nav_menu {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.nav_link {
  color: var(--Very-Dark-Blue);
  text-decoration: none;
  font-weight: 500;
  font-size: 0.8rem;
}
.nav_link:hover {
  color: var(--Dark-Grayish-Blue);
}
.btn {
  padding: 0.86rem 2rem;
  background-color: var(--Bright-Red);
  color: var(--Very-Light-Gray);
  border: none;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 100vw;
  cursor: pointer;
  box-shadow: 0px 7px 18px #f25f3a59;
}
.btn:hover {
  background-color: var(--Bright-Red-op);
}
.menu_btns {
  display: none;
}

/* top section */
.sec_one {
  padding: 5rem 10rem 7.655rem;
  display: flex;
  background: none;
  align-items: center;
  justify-content: space-between;
}
.sec_one_ttl {
  width: 436px;
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--Very-Dark-Blue);
  margin-bottom: 2.1rem;
  line-height: 1.17;
}
.sec_one_txt {
  color: var(--Dark-Grayish-Blue);
  width: 339px;
  font-size: 0.95rem;
  font-weight: 500;
  margin-bottom: 2.3rem;
  line-height: 1.5;
}
.sec_img {
  margin-right: -1rem;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* section 2 */
.sec_two {
  background: url(./images/bg-tablet-pattern.svg);
  background-position: -80% 100%;
  background-repeat: no-repeat;
  background-size: inherit;
  margin-bottom: 11.25rem;
}
.sec_two_top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 10rem;
  margin-bottom: 9.85rem;
}
.sec_two_ttl {
  width: 422px;
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--Dark-Blue);
  margin-bottom: 2rem;
  line-height: 1.1;
}
.sec_two_txt {
  color: var(--Dark-Grayish-Blue);
  width: 325px;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.55;
}
.sec_list {
  width: 46%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.sec_list li {
  display: flex;
  flex-direction: column;
}
.sec_list_hdr {
  display: flex;
  align-items: center;
  gap: 1.625rem;
  margin-bottom: 1rem;
}
.li_num {
  background-color: var(--Bright-Red);
  color: var(--Very-Light-Gray);
  font-size: 1rem;
  font-weight: 500;
  width: 67px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 100vw;
}
.li_ttl {
  color: var(--Dark-Blue);
  font-weight: 700;
  font-size: 0.95rem;
}
.li_txt {
  color: var(--Dark-Grayish-Blue);
  font-size: 0.91rem;
  font-weight: 400;
  padding-left: 6rem;
  line-height: 1.55;
  text-align: left;
}
/* slider section*/

.slider_sec {
  text-align: center;
}
.sld_ttl {
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--Dark-Blue);
  margin-bottom: 4.375rem;
}
/* scroller */
.small_scrn_tstm_slider {
  display: none;
}
.scroller {
  max-width: 100%;
  display: block;
}

.scroller__inner {
  padding: 2.25rem 3rem 2.68rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.scroller[data-animated='true'] {
  overflow: hidden;
}

.scroller[data-animated='true'] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction='right'] {
  --_animation-direction: reverse;
}

.scroller[data-direction='left'] {
  --_animation-direction: forwards;
}

.scroller[data-speed='fast'] {
  --_animation-duration: 20s;
}

.scroller[data-speed='slow'] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* end of scroller */

.tst_box {
  width: 535px;
  background-color: var(--Very-Light-Gray);
  padding: 2.25rem 2.65rem 2.625rem;
  position: relative;
  box-shadow: 1px 0px 0px var(--Light-Gray-op),
    -1px 0px 0px var(--Light-Gray-op);
}
.tst_box img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  position: absolute;
  top: -36px;
  left: 50%;
  transform: translateX(-50%);
}
.tst_box h3 {
  margin-block: 1.875rem;
  font-size: 0.95rem;
  font-weight: 700;
  line-height: 1;
  color: var(--Dark-Blue);
}
.tst_box p {
  color: var(--Dark-Grayish-Blue);
  font-size: 0.98rem;
  font-weight: 400;
  line-height: 1.5;
}
/* bottom section/footer 1  */
.sec_btm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.4rem 10rem 4rem;
  background-image: url(./images/bg-simplify-section-desktop.svg);
  background-position: 250px -140px;
  background-repeat: no-repeat;
  background-size: inherit;
  background-color: var(--Bright-Red);
}
.sec_btm_ttl {
  font-size: 2.3rem;
  width: 435px;
  line-height: 1.16;
  font-weight: 700;
  color: var(--Very-Light-Gray);
}
.btm_btn {
  padding: 0.87rem 2rem;
  background-color: var(--Very-Light-Gray);
  color: var(--Bright-Red);
  border: none;
  border-radius: 100vw;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
}
.btm_btn:hover {
  color: var(--Bright-Red-op);
}
/*   footer  */
.footer {
  background-color: var(--Very-Dark-Blue);
  padding: 3.5rem 10rem;
  color: var(--Very-Light-Gray);
  display: flex;
  justify-content: space-between;
}
.ftr_one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.ftr_logo {
  width: 100%;
  max-width: 146px;
}
.social_links {
  display: flex;
  align-items: center;
  gap: 0.79rem;
}
.social_links a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social_links a:hover .social_icon path {
  fill: var(--Bright-Red);
}

.ftr_links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 380px;
}
.nav_links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: max-content;
}

.ftr_link {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--Very-Pale-Red);
  text-decoration: none;
}
.ftr_link:hover {
  color: var(--Bright-Red);
}
.ftr_last {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ftr_form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 44px;
  width: max-content;
  position: relative;
}
.err_msg {
  display: none;
  position: absolute;
  bottom: -1rem;
  left: 1rem;
  font-size: 0.6rem;
  font-style: italic;
  font-weight: 400;
  color: var(--Bright-Red);
}
.success_msg {
  width: 100%;
  background-color: var(--Very-Light-Gray);
  height: 100%;
  position: absolute;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--Very-Dark-Blue);
  display: none;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 100vw;
  border: 1px solid var(--Bright-green);
}
.check_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--Dark-Blue);
}
.check_icon img {
  width: 12px;
  height: 12px;
}
.form_inpt {
  width: 200px;
  border: 1px solid transparent;
  outline: none;
  padding: 0.85rem 1rem;
  height: 100%;
  border-radius: 100vw;
  color: var(--Very-Dark-Blue);
  font-size: 0.8rem;
  font-weight: 500;
}
.form_inpt.error {
  border-color: var(--Bright-Red);
  color: var(--Bright-Red);
}
.form_inpt::placeholder {
  color: var(--Dark-Grayish-Blue);
}
.go_btn {
  width: 64px;
  height: 100%;
  border-radius: 100vw;
  background-color: var(--Bright-Red);
  color: var(--Very-Light-Gray);
  text-align: center;
  cursor: pointer;
  font-size: 0.8rem;
  border: none;
  font-weight: 700;
}
.go_btn:hover {
  background-color: hsl(12, 100%, 74%);
}
.ftr_txt {
  color: var(--Dark-Grayish-Blue);
  font-size: 0.74rem;
  font-weight: 500;
  text-align: right;
}
.attribution {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 100%;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media only screen and (max-width: 1200px) {
  .header {
    padding: 3.5rem 4rem 2.5rem;
  }
  .sec_one {
    padding: 4rem 4rem 7.655rem;
  }
  .sec_two_top {
    padding: 0 4rem;
  }
  .sec_btm {
    padding: 4.4rem 4rem 4rem;
  }
  .footer {
    padding: 3.5rem 4rem;
  }
  .sec_list {
    width: 50%;
  }
}
@media only screen and (max-width: 1000px) {
  .header {
    padding: 3.5rem 2rem 2.5rem;
  }
  .sec_one {
    padding: 0.5rem 2rem 7.655rem;
  }
  .sec_two_top {
    padding: 0 2rem;
  }
  .sec_btm {
    padding: 4.4rem 2rem 4rem;
  }
  .footer {
    padding: 3.5rem 2rem;
  }
  .sec_one_ttl {
    width: 340px;
    font-size: 2.4rem;
    margin-bottom: 2.1rem;
  }
  .sec_one_txt {
    width: 339px;
    margin-bottom: 2.3rem;
  }

  .ftr_links {
    width: 200px;
  }
  .sec_two_ttl {
    width: 340px;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    padding: 2.75rem 1.6rem 2.5rem;
  }
  .sec_one {
    padding: 0.5rem 1.5rem 7.655rem;
  }
  .sec_two_top {
    padding: 0 1.5rem;
  }
  .sec_btm {
    padding: 4.4rem 1.5rem 4rem;
  }
  .footer {
    padding: 3.5rem 1.5rem;
  }
}
@media only screen and (max-width: 769px) {
  .wrapper {
    background: url(./images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: 100px -50px;
    background-size: 100%;
  }
  .btn {
    display: block;
    margin: 0 auto;
  }
  .sec_one {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 6.4rem;
    background: url(./images/bg-tablet-pattern.svg);
    background-position: 210px 435px;
    background-repeat: no-repeat;
    background-size: 80%;
  }
  .sec_img {
    width: 100%;
    height: 270px;
    margin-right: 0;
    margin-bottom: 2.5rem;
  }

  .sec_img img {
    object-fit: contain;
  }
  .sec_one_ttl,
  .sec_one_txt {
    width: 80%;
    text-align: center;
  }
  .sec_one_ttl {
    margin: 0 auto 0.8rem;
  }
  .sec_one_txt {
    margin: 0 auto 2rem;
  }
  .sec_two {
    background: none;
    margin-bottom: 2.625rem;
  }

  .sec_two_top {
    padding: 0 0 0 1rem;
    flex-direction: column;
    align-items: center;
  }
  .sec_two_ttl,
  .sec_two_txt {
    width: 80%;
    text-align: center;
  }
  .sec_two_ttl {
    margin: 0 auto 1.56rem;
  }
  .sec_two_txt {
    margin: 0 auto 3.6rem;
  }
  .sec_list {
    width: 100%;
    gap: 3.18rem;
  }
  .sec_list_hdr {
    display: flex;
    align-items: center;
    gap: 1.625rem;
    margin-bottom: 1.12rem;
    background-color: var(--Very-Pale-Red);
    border-top-left-radius: 100vw;
    border-bottom-left-radius: 100vw;
  }
  .li_txt {
    padding-right: 4rem;
  }
  .sec_btm {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.625rem;
    padding-top: 6.43rem;
    padding-bottom: 5.68rem;
  }
  .sec_btm_ttl {
    width: 100%;
  }
  /* slider section */
  .scroller__inner {
    padding: 2.25rem 3rem 5.18rem;
  }
  .sld_ttl {
    margin-bottom: 3.75rem;
  }
  .tst_box {
    width: 338px;
    padding: 2.25rem 1.75rem 2.6rem;
  }
  .tst_box h3 {
    margin-block: 1.8rem;
  }
  .tst_box p {
    font-size: 0.87rem;
    line-height: 1.6;
  }
  /* end slider section */

  .footer {
    padding: 3.125rem 0.5rem 1.875rem;
    flex-direction: column-reverse;
  }
  .ftr_last {
    align-items: center;
    margin-bottom: 3.75rem;
  }
  .ftr_txt {
    position: absolute;
    bottom: 1.875rem;
  }
  .ftr_form {
    justify-content: center;
  }
  .form_inpt {
    width: 300px;
  }
  .ftr_links {
    width: 100%;
    justify-content: space-around;
    margin: 0 auto 3.375rem;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
  }
  .go_btn {
    width: 80px;
  }
  .ftr_one {
    flex-direction: column-reverse;
    gap: 3.375rem;
    margin-bottom: 3.375rem;
  }

  .social_links {
    justify-content: center;
  }

  .ftr_logo {
    margin: 0 auto;
    max-width: 157px;
  }

  .social_links {
    gap: 2.125rem;
  }
  .social_links a {
    min-width: 32px;
    min-height: 32px;
  }
  .social_icon {
    scale: 1.6;
  }

  /* header nav */
  .hdr_btn.btn {
    display: none;
  }
  .nav {
    display: none;
  }
  .menu_btns {
    display: block;
  }
  .nav.popup {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 6.43rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    z-index: 3;
  }
  .nav_menu {
    box-shadow: 0px 150px 150px 100px var(--Dark-Blue-op);
    background-color: var(--Very-Light-Gray);
    color: white;
    align-items: center;
    flex-direction: column;
    gap: 1.875rem;
    width: 60%;
    min-width: 325px;
    min-height: 290px;
    height: fit-content;
    z-index: 1000;
    padding: 2.875rem 1rem 2.5rem;
    border-radius: 6px;
  }
  .nav_link {
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--Dark-Blue);
  }
  .open-menu-btn,
  .close-menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .open-menu-btn img,
  .close-menu-btn img {
    object-fit: contain;
  }

  .close-menu-btn {
    display: none;
  }

  .nav.active + .close-menu-btn {
    display: flex;
  }
  /* end header nav */
}
@media only screen and (max-width: 600px) {
  .sec_one_ttl {
    width: 305px;
    font-size: 2.09rem;
    text-align: center;
    line-height: 1.4;
    margin: 0 auto 0.8rem;
  }
  .sec_one_txt {
    width: 290px;
    margin: 0 auto 2rem;
    line-height: 1.6;
  }
  .sec_two_top {
    margin-bottom: 4.75rem;
  }

  .sec_two_ttl {
    width: 227px;
    font-size: 1.75rem;
    line-height: 1.35;
  }
  .sec_two_txt {
    width: 282px;
    font-size: 0.85rem;
    line-height: 1.8;
  }
  .sec_list_hdr {
    gap: 1rem;
  }
  .li_ttl {
    font-size: 0.906rem;
  }
  .li_txt {
    padding-right: 2rem;
    font-size: 0.81rem;
    line-height: 1.9;
  }
  .sld_ttl {
    font-size: 1.84rem;
    margin-bottom: 3.875rem;
  }
  .sec_btm_ttl {
    font-size: 2.5rem;
  }
  /* slider sec*/
  .scroller {
    display: none;
  }

  .scroller[data-animated='true'] .scroller__inner {
    animation: none;
    transform: translateX(0);
    max-width: fit-content;
  }
  .scroller__inner {
    transform: translateX(0);
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .tst_box {
    min-width: 338px;
    margin-left: 4.5rem;
  }
  /* small screen slider */
  .small_scrn_tstm_slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2.25rem 0.5rem 2.875rem;
  }
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    border: 1px solid var(--Very-Light-Gray);
    background-color: var(--Bright-Red-scrl);
  }
  .prev:hover,
  .next:hover {
    background-color: var(--Bright-Red-op);
  }
  .prev img,
  .next img {
    width: 14px;
    height: 14px;
    object-fit: contain;
  }
  .prev {
    left: -2.5rem;
  }
  .next {
    right: -2.5rem;
  }

  .sm_box {
    background-color: var(--Very-Light-Gray);
    position: relative;
    box-shadow: 1px 0px 0px var(--Light-Gray-op),
      -1px 0px 0px var(--Light-Gray-op);
    width: 338px;
    padding: 2.25rem 1.75rem 2.6rem;
  }
  .sm_box img.avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    position: absolute;
    top: -36px;
    left: 50%;
    transform: translateX(-50%);
  }
  .sm_box h3 {
    margin-block: 1.8rem;
    font-size: 0.95rem;
    font-weight: 700;
    line-height: 1;
    color: var(--Dark-Blue);
  }
  .sm_box p {
    color: var(--Dark-Grayish-Blue);
    font-weight: 400;
    font-size: 0.87rem;
    line-height: 1.6;
  }
  .dots {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-top: 1.56rem;
  }

  .dots span {
    width: 9px;
    height: 9px;
    background-color: transparent;
    border: 1px solid var(--Bright-Red);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }

  .dots span.active {
    background-color: var(--Bright-Red);
  }

  /*end  small screen slider */
  /* endslider sec*/
}
@media only screen and (max-width: 500px) {
  .ftr_links {
    justify-content: space-between;
  }
  .form_inpt {
    width: 240px;
  }
  .li_txt {
    padding-left: 0;
    padding-right: 1rem;
  }
  .prev {
    left: -0.5rem;
  }
  .next {
    right: -0.5rem;
  }
}

@media only screen and (max-width: 370px) {
  .sm_box {
    width: 100%;
  }
}
